<h1>Calculation</h1>
<style>
    .form-row {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
         padding: 0px;
    }

    .form-counter {
        margin-right: 10px;
    }
</style>

<form method="post" novalidate>
    {% csrf_token %}

    {% for form, data in forms_data %}
        <div class="form-row">
            <div class="form-counter">{{ forloop.counter }}</div>
            <div class="form-counter">{{ form.as_p }}</div>
            <div class="form-counter">{{data}}</div>
        </div>
    {% endfor %}
    <button type="submit">Submit</button>

<script>
        document.addEventListener("DOMContentLoaded", function() {
            var kek = "0";
            var myData = {
'1': ['Салати','Салат Цезар з куркою та беконом',  ['курка', 'бекон', 'пармезан'], 240, 'salad_cesar.jpg'],
'2':['Салати','Салат Грецький',  ['оливки', 'перець' ,'фета'], 155,'salad_greek.jpg'],
'3':['Салати','Теплий Салат з філе міньйон',  ['помідор', 'сир' ,'хлібні сухарі'], 270,'salad_cesar.jpg'],
'4':['Салати','Салат з лососем та авокадо',  ['лосось', 'авокадо' ,'кіноа'], 360,'salad_cesar.jpg'],
'5':['Салати','Салат з курячою печінкою',  ['печінка', 'мигдаль' ,'салат'], 165,'salad_cesar.jpg'],
'6':['Салати',"Салат олів'є з телятиною",  ['картопля', 'майонез' ,'горіх'], 165, 'salad_cesar.jpg'],
'7':['Салати',"Салат з капустою, огірком та редисом",  ['капуста', 'огірок' ,'редис'], 55, 'salad_cabage.jpg'],
'8':['Супи',"Солонка м'ясна",  ["м'ясо", 'оливки' ,'хліб'], 175, 'salad_cesar.jpg'],
'9':['Супи',"Окрошка з телятиною",  ["телятина", 'кефір' ,'хліб'], 185, 'salad_cesar.jpg'],
'10':['Супи',"Борщ з яловичими ребрами",  ["буряк", 'яливичина' ,'хліб'], 185, 'soup_borsch.jpg'],
'11':['Супи',"Крем-суп грибний",  ["гриби", 'вершки' ,'хліб'], 125, 'salad_cesar.jpg'],
'12':['Супи',"Бульйон з домашньою лапшою та яйцем",  ["лапша", 'яйце' ,'хліб'], 115, 'soup_lapsha.jpg']}});
    </script>
</form>

